<div style="margin-top: -21px; margin-right: -20px;" mat-dialog-action [align]="'end'">
    <button mat-dialog-close="" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>close </mat-icon>
    </button>
</div>
<h1 mat-dialog-title> {{actionBtn}} Category </h1>
<div mat-dialog-content>
    <form [formGroup]="categoryForm">
        <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <input formControlName="name" matInput placeholder="Category Name">
            <mat-error class="text-danger" *ngIf="categoryForm.value.name == ''">
                Category Name is required
            </mat-error>
        </mat-form-field>
        <label for="">
            <h1>Category Status</h1>
        </label>
        <mat-radio-group style="margin-top:-1px;" formControlName="status" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let sta of statusList" [value]="sta">
                {{sta==1?"Active":"Inactive"}}
            </mat-radio-button>
        </mat-radio-group>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button style="margin-left:8px;" mat-raised-button color="primary" [disabled]="!categoryForm.valid"
        (click)="addcategory()">{{actionBtn}}</button>
</div>