<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>All User Removed</strong>
    </c-card-header>
    <c-card-body>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>User</span>
          <span class="example-spacer"></span>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>

      <div style="margin-top:10px;">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Laptop G63" #input>
        </mat-form-field>
        <button type="button" (click)="refreshForm()" style="position: absolute; margin-left:-70px; margin-top: 10px; "
          mat-raised-button color="warn">
          <mat-icon>refresh</mat-icon>
        </button>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="avatar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
              <td mat-cell *matCellDef="let row"> <img [src]="createImgPath(row.avatar)"
                  style="margin-left: -13%; width:70px; height:70px; border-radius: 50%">
              </td>
            </ng-container>
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
              <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
            </ng-container>
            <!-- Progress Column -->
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
              <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
            </ng-container>
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                <td class="a" mat-cell *matCellDef="let row"> {{row.address}} </td>
              </ng-container> -->

            <!-- Fruit Column -->
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
              <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td class="a" mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container> -->
            <style>
              .a {
                max-width: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            </style>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
              <td mat-cell *matCellDef="let row">
                {{row.listUser}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
              <td mat-cell *matCellDef="let row"> {{row.createdAt| date}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.status==1?"Active":row.status==2?"Inactive":"Lock"}} </td>
            </ng-container>
            <div></div>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row">
                <button style="margin-left: -20px;" (click)="restoreUser(row.id)" mat-icon-button color="primary">
                  <mat-icon>replay</mat-icon>
                </button>
                <button [disabled]="!isAdmin" style="position: absolute;" (click)="deleteUser(row.id)" mat-icon-button
                  color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">There are no accounts in this list yet</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </c-card-body>
  </c-card>
</c-col>