<div style="margin-top: -21px; margin-right: -20px;" mat-dialog-action [align]="'end'">
    <button mat-dialog-close="" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>close </mat-icon>
    </button>
</div>
<h1 mat-dialog-title> Detail Order</h1>
<div mat-dialog-content>
    <form [formGroup]="orderForm">

        <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input style="background-color: rgb(241, 239, 238);" readonly="" formControlName="code" value="{{code}}"
                matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>UserName</mat-label>
            <input style="background-color: rgb(241, 239, 238);" readonly="" value="{{user}}" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input style="background-color: rgb(241, 239, 238);" readonly="" value="{{fullname}}" matInput>
        </mat-form-field>
        <h2>Products</h2>
        <div *ngFor="let pro of product" cListGroup>
            <button cListGroupItem class="d-flex justify-content-between align-items-center">
                <h4 style="font-weight: bold; ">SKU:</h4>
                <h4 style="color: red;font-weight: bold;width: 50px;">{{pro.product.sku}}</h4>
                <h4 style="font-weight: bold;"> Name:</h4>
                <h4 style="color: red;font-weight: bold; width: 200px;">{{pro.product.name}}</h4>
                <c-badge color="success" style="color: white; margin-top: -3%; " shape="rounded-pill">{{pro.quantity}}
                </c-badge>
            </button>
        </div>
        <mat-form-field style="margin-top:20px;" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" placehoder="Status Product">
                <mat-option *ngFor="let sta of statusList" [value]="sta">
                    {{sta==1?"Processing":sta==2?"Confirmed":sta==3?"Packed":sta==4?"Transported":sta==5?"Delivered":"Cancelled"}}
                </mat-option>
            </mat-select>
            <mat-error class="text-danger" *ngIf="orderForm.value.status == ''">
                Status is required
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button style="margin-left:8px;" mat-raised-button color="primary" (click)="updateOrder()">Save</button>
</div>