<div style="margin-top: 5%; margin-left: 8%; margin-bottom: 10%;"
  class="bg-white min-vh-90 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="5">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <a routerLink="/home/login" style="text-decoration: none;">
              <svg cIcon name="cilArrowLeft"></svg>
              Back </a>
            <form #forgotForm="ngForm" (ngSubmit)="forgot(forgotForm)" cForm>
              <h1>Forgot Password</h1>
              <div *ngIf="!confirmPassowrd" class="alert alert-danger"> Password does not match</div>
              <div *ngIf="!confirmOtp" class="alert alert-danger"> OTP code invalid</div>
              <p class="text-medium-emphasis">Reset your password</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input [disabled]="otpCheck" autoComplete="email" name="email" ngModel cFormControl
                  placeholder="Your Email" />
              </c-input-group>
              <div *ngIf="otpCheck">
                <div style="font-weight: bold; font-size: 15px; color: rgb(42, 146, 11);">OTP code has been sent
                  {{email}}</div>
                <span style="
                  margin-right: 15px; color: red; font-weight: bold; font-size: 15px; ">Enter your OTP code *</span>
                <button [ngStyle]="{'color':time?'blue':'gray'}" [disabled]="!time"
                  style="border: none;background-color: rgb(255, 255, 255); margin-top: 10px; color: rgb(51, 51, 238); font-weight: 500; text-decoration: none;"
                  (click)="resend(forgotForm) ">(Send again)</button>
                <c-input-group class=" mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilListNumbered"></svg>
                  </span>
                  <input required="" autoComplete="otp" name="otp" ngModel cFormControl placeholder="OTP " />
                </c-input-group>
                <span style="
                margin-right: 15px; color: rgb(0, 0, 0); font-weight: bold; font-size: 15px; ">New Password *</span>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input (ngModelChange)="getValue($event)" autoComplete="newPassword" ngModel name="newPassword"
                    matInput cFormControl placeholder="New Password" type="password" required
                    pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$" />
                </c-input-group>
                <div style="color: red;" *ngIf="!checkValidPassword">Password must be a combination of lower-case,
                  upper-case,@,
                  numbers
                  and at least 9 characters long</div>
                <span style="
                margin-right: 15px; color: rgb(0, 0, 0); font-weight: bold; font-size: 15px; ">Confirm Password
                  *</span>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input required="" autoComplete="confirmPassword" name="confirmPassword" ngModel cFormControl
                    placeholder="Confirm password" type="password" />
                </c-input-group>
              </div>
              <div *ngIf="otpCheck" class="d-grid">
                <button (click)="resetPass(forgotForm)" [disabled]="!forgotForm.valid" style="color: white;"
                  cButton>Reset
                  password</button>
              </div>
              <div *ngIf="!otpCheck" class="d-grid">
                <button type="submit" [disabled]="!forgotForm.valid" style="color: white;" cButton>Request password
                  reset</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>