<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div style="margin-bottom: 5%;" class="row align-items-center flex-row-reverse">
      <div class="col-lg-6">
        <div class="about-text go-to">
          <h3 style="margin-bottom:20px;" class="dark-color">{{fullName}}</h3>
          <div style="margin-bottom:20px;" class="media">
            <span style="font-weight: bold;">Role: </span>
            <span style="color: red; font-weight: bold;">{{ roleCurrent}}</span>
          </div>
          <div class="row about-list">
            <div class="col-md-6">
              <div class="media">
                <label>Username</label>
                <p>{{userName}}</p>
              </div>
              <div class="media">
                <label>Address</label>
                <p>{{address}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <label>E-mail</label>
                <p>{{email}}</p>
              </div>
              <div class="media">
                <label>Phone</label>
                <p>{{phoneNumber}}</p>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-avatar">
          <img style="width: 300px; height: 300px; margin-left:20%;border-radius: 100%;" [src]="createImgPath()"
            title="" alt="">
        </div>
      </div>
    </div>
    <div class="counter">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="500" data-speed="500">500</h6>
            <p class="m-0px font-w-600">Happy Clients</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="150" data-speed="150">150</h6>
            <p class="m-0px font-w-600">Project Completed</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="850" data-speed="850">850</h6>
            <p class="m-0px font-w-600">Photo Capture</p>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="count-data text-center">
            <h6 class="count h2" data-to="190" data-speed="190">190</h6>
            <p class="m-0px font-w-600">Telephonic Talk</p>
          </div>
        </div>
      </div>
    </div>
    <button (click)="logOut()" style="color: white;  margin-left: 91%; margin-top: 5%; background-color: red;"
      class="btn">Log Out</button>
  </div>
</section>